<div class="loginPage">
    <div class="d-flex flex-column align-items-center">
        <div class="row m-2">
            <div class="d-flex justify-content-center">
                <div class="loginLogo">
                    <img src="/assets/img/logo.png" alt="">
                </div>
            </div>
        </div>
        <div class="loginForm p-4 mt-3">
            <h2 class="ml-2">Registracija (novi korisnik)</h2>
            
            <div class="row m-2">
                <!-- korisnicko ime -->
                <div class="col-6">
                    <mat-form-field>
                        <mat-label>Korisnicko ime</mat-label>
                        <input type="text" matInput  placeholder="Unesite vase ime" [(ngModel)]="username" (click)="$event.target.select()">
                    </mat-form-field>
                    <span class="ml-2 text-danger" [hidden]="username">*obavezno polje</span>
                </div>

                <!-- email -->
                <div class="col-6">
                    <mat-form-field>
                        <mat-label>Email</mat-label>
                        <input type="email" matInput  placeholder="Unesite vase ime" [(ngModel)]="email" (click)="$event.target.select()">
                    </mat-form-field><br>
                    <span class="ml-2 text-danger" [hidden]="email">*obavezno polje</span>
                </div>
            </div>

            <div class="row m-2">
                <!-- lozinka -->
                <div class="col-6">
                    <mat-form-field>
                        <mat-label>Lozinka</mat-label>
                        <input type="password" matInput placeholder="Unesite lozinku" [(ngModel)]="password" (click)="$event.target.select()">
                    </mat-form-field><br>
                    <span class="ml-2 text-danger" [hidden]="password">*obavezno polje</span>
                </div>

                <!-- lozinka ponovo -->
                <div class="col-6">
                    <mat-form-field>
                        <mat-label>Ponovite lozinku</mat-label>
                        <input type="password" matInput placeholder="Unesite lozinku" [(ngModel)]="repeatPassword" (click)="$event.target.select()">
                    </mat-form-field>
                    <span class="ml-2 text-danger" [hidden]="repeatPassword">*obavezno polje</span>
                </div>
            </div>
            
            
            <div class="row m-2">
                <!-- ime -->
                <div class="col-6">
                    <mat-form-field>
                        <mat-label>Ime</mat-label>
                        <input type="text" matInput  placeholder="Unesite vase ime" [(ngModel)]="firstname" (click)="$event.target.select()">
                    </mat-form-field><br>
                    <span class="ml-2 text-danger" [hidden]="firstname">*obavezno polje</span>
                </div>

                <!-- prezime -->
                <div class="col-6">
                    <mat-form-field>
                        <mat-label>Prezime</mat-label>
                        <input type="text" matInput  placeholder="Unesite vase ime" [(ngModel)]="lastname" (click)="$event.target.select()">
                    </mat-form-field>
                    <span class="ml-2 text-danger" [hidden]="lastname">*obavezno polje</span>
                </div>
            </div>
            
            
            <div class="row m-2">
                 <!-- telefon -->
                <div class="col-6">
                    <mat-form-field>
                        <mat-label>Telefon</mat-label>
                        <input type="text" matInput  placeholder="Unesite vase ime" [(ngModel)]="phone" (click)="$event.target.select()">
                    </mat-form-field>
                    <span class="ml-2 text-danger" [hidden]="phone">*obavezno polje</span>
                </div>
                
                <!-- adresa -->
                <div class="col-6">
                    <mat-form-field>
                        <mat-label>Adresa</mat-label>
                        <input type="text" matInput  placeholder="Unesite vase ime" [(ngModel)]="address" (click)="$event.target.select()">
                    </mat-form-field><br>
                    <span class="ml-2 text-danger" [hidden]="address">*obavezno polje</span>
                </div>
            </div>
           
            <div class="row m-2">
                <!-- proizvodi -->
                <div class="col-6">
                    <mat-form-field>
                        <mat-label>Omiljene vrste proizvoda</mat-label>
                        <mat-select [(ngModel)]="products" multiple>
                            <mat-option *ngFor="let singleProduct of productList" [value]="singleProduct">{{ singleProduct }}</mat-option>
                            </mat-select>
                    </mat-form-field>
                    <span class="ml-2 text-danger" [hidden]="products">*obavezno polje</span>
                </div>
            </div>

            <div class="row m-2">
                <button mat-raised-button color="accent" class="w-100" (click)="register()" [disabled]="!username || !password || !repeatPassword">
                    <mat-icon>perm_identity</mat-icon> Registruj se
                </button>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="d-flex flex-column align-items-center">
        <div class="p-4">
            <div class="text-center newUser">
                <p class="m-0">
                    Postojeci korisnik ?
                </p>
            </div>
            <div class="text-center">
                <mat-icon>arrow_downward</mat-icon>
            </div>
            <div class="text-center">
                <button mat-raised-button color="accent" (click)="login()">
                    <mat-icon>perm_identity</mat-icon> Login
                </button>
            </div>
        </div>
    </div>
</div>
<hr>

<div class="text-center">
    Copyright &copy; 2019
</div>
